.header-image {
  overflow: hidden;

  max-width: 0px;

  -webkit-animation: imgAnimate 1.5s cubic-bezier(0.49,0.41,0.01,0.99) .3s forwards;
}


@keyframes imgAnimate {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 690px;
  }
}